.background {
  background: rgba(0, 0, 0, .5);
  height: 100%;
  width: 100%;
}

.center-page {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.profile-image {
  border-radius: 100%;
  transition: all .5s ease;
  width: 35vmin;
}

.page-title {
  font-size: 10vmin;
  transition: all .5s ease;
}
