@media screen and (max-width: 500px) {
  .profile-image {
    padding-bottom: 15px;
    width: 55vmin;
  }

  .page-title {
    font-size: 17vmin;
    padding-bottom: 15px;
  }

  a, a:visited, a:hover, a:active {
    font-size: 7vmin;
  }

  br {
    display: block;
  }
}
